<!-- Below is the home banner -->
<div class="home-banner" style="background-image: url(<%= image_path "banner.jpg" %>);">
  <div>
    <h1 class="banner-text">
      Connecting dog owners with local dog lovers
    </h1>
    <a href="#dogs" class="button">
      Hello
    </a>
  </div>
</div>
<!-- Above is the home banner -->

<!-- Below is the dogs cards container -->
<div class="container">
  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-xs-12 col-md-4 col-sm-8">
        <div class="card">
          <%= link_to "", dog_path(dog), class:"card-link" %>
          <div class="card-body" style="width: 300px; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_tag dog.photo %>');">
            <h5 class="card-title"><%= link_to dog.name , dog_path(dog) %></h5>
            <ul class="card-description">
              <%= dog.description %>
            </ul>
            <div class="card-footer"><%= Date.today %>
              <div class="card-buttons">
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-heart"></i></a>
                <a href="#"><i class="fa fa-share"></i></a>
                <%= link_to dog_path(dog), method: :delete do  %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Above is the dogs cards container -->




