<div class="container booking-box">


  <div class="dog-show col-md-6 col-md-offset-2">
    <h1><%= @dog.name.capitalize %></h1>
    <h3><em>Owner: <%= @dog.user.first_name.capitalize %></em> </h3>
    <div><%= cl_image_tag @dog.photo, height: 300, width: 350, crop: :fill%></div>
    <br>

    <h3><%= @dog.size.capitalize %> <%= @dog.breed.capitalize %> <% if @dog.gender == "male" %> <i class="fas fa-mars"></i>
      <% else %>
      <i class="fas fa-venus"></i>
      <%end%>


    </h3>


    <p><%= @dog.description %></p>


    <% if policy(@dog).edit? %>
    <%= link_to 'Edit', edit_dog_path(@dog) %> |
    <% end %>

    <% if policy(@dog).destroy? %>
    <%= link_to 'Destroy', @dog, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>


  <!-- code bookings here -->
  <div class="right-side col-xs-4 dog-show booking">
    <div class="booking-form">
      <h1> Spend time with <%= @dog.name.capitalize %></h1>
      <%= simple_form_for [@dog, @booking] do |f| %>
      <h3>Price per hour: $<%= @dog.price %></h3>
      <%= f.input :start_time, as: :string, input_html: { class: "datepicker"} %>
      <%= f.input :end_time, as: :string, input_html: { class: "datepicker"} %>
      <%= f.input :details %>
      <%#= f.input :price, value: @dog.price, as: :hidden %>
      <%= f.button :submit, "Book Now", class: "btn btn-success"  %>
      <% end %>
    </div>
  </div>
</div>
<!-- Reviews here -->
<div class="col-xs-3 offset-md-4">
 <%= simple_form_for [@dog, @review], url: dog_reviews_path(@dog), method: :post do |f| %>
 <h3>Leave a Review for <%= @dog.name %></h3>

 <div class = "rating">
  <i class="far fa-star bigger-star" id = "star1"></i>
  <i class="far fa-star bigger-star" id = "star2"></i>
  <i class="far fa-star bigger-star" id = "star3"></i>
  <i class="far fa-star bigger-star" id = "star4"></i>
  <i class="far fa-star bigger-star" id = "star5"></i>
</div>
<%= f.input :rating, :as => :hidden %>
<%= f.input :content %>
<%= f.button :submit, "Review", class: "btn btn-success" %>
</div>
<% end %>
<div>
  <%= @reviews.each do |review|%>
  <%= review.rating %>
  <%= review.content %>
  <% end %>
</div>

<div id="bookingStart" data-dates="<%= @already_booked_start %>"></div>
<div id="bookingEnd" data-dates="<%= @already_booked_end %>"></div>


<div
id="map"
style="width: 50%;
height: 600px";
class="map-woof"
data-markers="<%= @markers.to_json %>"
></div>

<script>

  const stars = Array.from(document.querySelectorAll(".fa-star"));
  const div = document.querySelector(".rating");
  // console.log(stars)
  stars.forEach((star) => {
   star.addEventListener("click", function(event) {
    stars.forEach((star) => {
      star.classList.remove("fas")
    })

    starIndex = stars.indexOf(event.currentTarget);
    for (var i = 0; i <= starIndex; i++) {

      stars[i].classList.add("fas");
    }
      // console.log(starIndex)
      const ratingInput = document.getElementById('review_rating');
      ratingInput.value = starIndex + 1
    });
 });
</script>
