<div class="container booking-box">


  <div class="dog-show col-md-6 col-md-offset-2">
    <h1><%= @dog.name.capitalize %></h1>
    <h3><em>Owner: <%= @dog.user.first_name.capitalize %></em> </h3>
    <div><%= cl_image_tag @dog.photo, height: 300, width: 350, crop: :fill%></div>
     <br>

    <h3><%= @dog.size.capitalize %> <%= @dog.breed.capitalize %> <% if @dog.gender == "male" %> <i class="fas fa-mars"></i>
      <% else %>
      <i class="fas fa-venus"></i>
      <%end%>
    </h3>


    <p><%= @dog.description %></p>


    <% if policy(@dog).edit? %>
    <%= link_to 'Edit', edit_dog_path(@dog) %> |
    <% end %>

    <% if policy(@dog).destroy? %>
    <%= link_to 'Destroy', @dog, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>


  <!-- code bookings here -->
  <div class="right-side col-xs-4 dog-show booking">
<div class="booking-form">
    <h1> Spend time with <%= @dog.name.capitalize %></h1>
    <%= simple_form_for [@dog, @booking] do |f| %>
    <h3>Price per hour: $<%= @dog.price %></h3>
    <%= f.input :start_time, as: :string, input_html: { class: "datepicker"} %>
    <%= f.input :end_time, as: :string, input_html: { class: "datepicker"} %>
    <%= f.input :details %>
    <%#= f.input :price, value: @dog.price, as: :hidden %>
    <%= f.button :submit, "Book Now", class: "btn btn-success"  %>
    <% end %>
  </div>
</div>
</div>

<div id="bookingStart" data-dates="<%= @already_booked_start %>"></div>
<div id="bookingEnd" data-dates="<%= @already_booked_end %>"></div>

