<div class="small-banner" style="background-image :linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "banner.jpg" %>);">
  <div>
    <h1 class="banner-h1">
      Spend time with</h1>
      <h1 class="banner-h1">
       <%= @dog.name.capitalize %> </h1>
       <h1 class="banner-h1">the <%= @dog.breed.capitalize %>
    </h1>
  </div>
</div>






<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1><%= @dog.name.capitalize %></h1>
      <h3><em>Owner: <%= @dog.user.first_name.capitalize %></em> </h3>
      <div><%= cl_image_tag @dog.photo, height: 300, width: 350, crop: :fill%></div>
      <br>


      <h1><%= @dog.size.capitalize %> <%= @dog.breed.capitalize %> <% if @dog.gender == "male" %> <i class="fas fa-mars"></i>
        <% else %>
        <i class="fas fa-venus"></i>
        <%end%>
      </h1>



      <p class="description1"><%= @dog.description %></p>


      <% if policy(@dog).edit? %>
      <%= link_to 'Edit', edit_dog_path(@dog) %> |
      <% end %>

      <% if policy(@dog).destroy? %>
      <%= link_to 'Destroy', @dog, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

      <h2>Average Rating</h2>
      <br>

      <h4>
        <% @new.times do %>
        <i class='fas fa-star bigger-star'></i>
        <% end %>
      </h4>
      <% if @dog.reviews.count >= 1 %>
      <h2>Latest Reviews</h2>
      <% else %>
      <h4>No Reviews Yet</h4>
      <% end %>
      <br>
      <% @dog.reviews.last(3).each do |review|%>
      <h4><% review.rating.times do %>
        <i class='fas fa-star bigger-star'></i>
        <% end %>
      </h4>
        <p><%= review.content %></p>
        <% end %>
        <!-- </div> -->

        <!-- reviews list -->
        <!-- Reviews here -->
        <!-- <div class="col-md-4"> -->
        <div class="">
         <%= simple_form_for [@dog, @review], url: dog_reviews_path(@dog), method: :post do |f| %>
         <h3>Leave a Review for <%= @dog.name %></h3>

         <div>
          <i class="far fa-star bigger-star my-star" id = "star1"></i>
          <i class="far fa-star bigger-star my-star" id = "star2"></i>
          <i class="far fa-star bigger-star my-star" id = "star3"></i>
          <i class="far fa-star bigger-star my-star" id = "star4"></i>
          <i class="far fa-star bigger-star my-star" id = "star5"></i>
          <!-- </div> -->
          <%= f.input :rating, :as => :hidden %>
          <%= f.input :content %>
          <%= f.button :submit, "Review", class: "btn btn-success" %>
        </div>
        <% end %>
      </div>


    </div>
    <div class="booking-form col-xs-12 col-sm-6 col-md-4 pad-top">
      <h1> Book a walk with <%= @dog.name.capitalize %></h1>
      <%= simple_form_for [@dog, @booking] do |f| %>
      <h3>Price per hour: $<%= @dog.price %></h3>
      <%= f.input :start_time, as: :string, input_html: { class: "datepicker"} %>
      <%= f.input :end_time, as: :string, input_html: { class: "datepicker"} %>
      <%= f.input :details %>
      <%#= f.input :price, value: @dog.price, as: :hidden %>
      <%= f.button :submit, "Book Now", class: "btn btn-success"  %>
      <% end %>
    </div>
  </div>

  </div>
</div>



<!-- <div class="col-md-12 col-sm-6 col-xs-12"> -->
  <div
  id="map"
  style="width: 100%;
  height: 300px";
  class="map-woof"
  data-markers="<%= @markers.to_json %>"
  ></div>
  <!-- </div> -->
  <div id="bookingStart" data-dates="<%= @already_booked_start %>"></div>
  <div id="bookingEnd" data-dates="<%= @already_booked_end %>"></div>
  <script>

    const stars = Array.from(document.querySelectorAll(".my-star"));
    const div = document.querySelector(".rating");
  // console.log(stars)
  stars.forEach((star) => {
   star.addEventListener("click", function(event) {
    stars.forEach((star) => {
      star.classList.remove("fas")
    })

    starIndex = stars.indexOf(event.currentTarget);
    for (var i = 0; i <= starIndex; i++) {

      stars[i].classList.add("fas");
    }
      // console.log(starIndex)
      const ratingInput = document.getElementById('review_rating');
      ratingInput.value = starIndex + 1
    });
 });
</script>
