<% if user_signed_in? %>

<div class="navbar-wagon">
  <div class="navbar-wagon-left">
    <%= link_to root_path do %>
    <%= image_tag "logo1.jpg", alt: "logo", class: "navbar-brand"%>
    <%  end %>
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu alex">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Search' %></li>
          <li> <%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="navbar-wagon-right">

   <div class="navbar-wagon-item navbar-wagon-link alex">
    <%= link_to dogs_path do%>
    <i class="fas fa-paw"></i>
    Find a Doggo
    <%end%>
  </div>

  <div class="navbar-wagon-item navbar-wagon-link alex">
    <%= link_to new_dog_path do %>
    <i class="fas fa-home"></i>
    Rent My Doggy
    <%end%>
  </div>
  <div class="navbar-wagon-item navbar-wagon-link alex">
    <%= link_to dashboard_path do%>
    <i class="far fa-calendar-alt"></i>
    My Bookings
    <%end%>

  </div>
  <div class="navbar-wagon-item navbar-wagon-link alex">
    <%= link_to destroy_user_session_path, method: :delete do%>
    <i class="fas fa-sign-out-alt"></i>
    Logout
    <% end %>
  </div>



  <%= form_tag dogs_path, :method => 'get' do %>
  <div class="flex-form search-input" id="search-form">
    <%= text_field_tag :search, params[:search], :class => "form-inline search-input", label: false, id:"search-form", placeholder: "Dog, Breed, Size"%>
    <%= text_field_tag :location, params[:location], :class => "form-inline search-input", label: false, id:"search-form", placeholder: "Location" %>
    <%= submit_tag 'Search', class:"btn btn-outline-success search-button", :name => nil %>
  </div>
  <% end %>
</div>


<!-- Dropdown appearing on mobile only -->

</div>

<% else %>

<div class="navbar-wagon">
  <div class="navbar-wagon-left">
    <%= link_to root_path do %>
    <%= image_tag "logo1.jpg", alt: "logo", class: "navbar-brand"%>
    <%  end %>
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu alex">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Search' %></li>
          <li> <%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="navbar-wagon-right">
   <div class="navbar-wagon-item navbar-wagon-link alex">
    <i class="fas fa-sign-in-alt"></i>
    <%= link_to 'Login', new_user_session_path %>
  </div>
  <div class="navbar-wagon-item navbar-wagon-link alex">
    <i class="fas fa-user-plus"></i>
    <%= link_to 'Sign up', new_user_registration_path %>
  </div>


   <%= form_tag dogs_path, :method => 'get' do %>
  <div class="flex-form search-input" id="search-form">
    <%= text_field_tag :search, params[:search], :class => "form-inline search-input", label: false, id:"search-form", placeholder: "search term"%>
    <%= text_field_tag :location, params[:location], :class => "form-inline search-input", label: false, id:"search-form", placeholder: "Location" %>
    <%= submit_tag 'Search', class:"btn btn-outline-success search-button", :name => nil %>
  </div>
  <% end %>

</div>



<!-- Dropdown appearing on mobile only -->
<div class="navbar-wagon-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li> <%= link_to 'Login', new_user_session_path %></li>
      <li><%= link_to 'Sign-Up', new_user_registration_path %></li>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Search' %></li>>
    </ul>
  </div>
</div>
</div>
</div>





<% end %>








