<div class="container dashboard">
  <div class="row">
    <div class="col-xs-12">

      <h2><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>'s Bookings</h2>

      <% if @bookings.first.nil?%>
      <div class="row ">
       <div class="col-xs-12 text-center">
        <h3> You Currently Have No Bookings</h3>
        <h3> <%=link_to "+ Find a Dog", dogs_path %> </h3>
      </div>
    </div>
    <div class="row"></div>
    <% else %>

    <div class="row heading">
     <div class="col-xs-2">
       <h3> Booked With </h3>
     </div>
     <div class="col-xs-2">
       <h3> Start Time </h3>
     </div>
     <div class="col-xs-2">
       <h3> End Time</h3>
     </div>
     <div class="col-xs-1">
       <h3> Price</h3>
     </div>
     <div class="col-xs-2">
       <h3> Message</h3>
     </div>
     <div class="col-xs-1">
       <h3> Status</h3>
     </div>
      <div class="col-xs-2 text-center">
   <h3> Action</h3>
 </div>
   </div>
   <% @bookings.each do |booking| %>
   <div class="row">
     <div class="col-xs-2">
      <%=link_to booking.dog do%>
      <p><strong> <%=booking.dog.name.capitalize%> </strong></p>
      <%end%>
    </div>
    <div class="col-xs-2">
     <p> <%=booking.start_time.strftime("%e %b %Y %H:%M%p") %></p>
   </div>
   <div class="col-xs-2">
     <p> <%=booking.end_time.strftime("%e %b %Y %H:%M%p")%></p>
   </div>
   <div class="col-xs-1">
     <p> £<%=booking.price%></p>
   </div>
   <div class="col-xs-2">
     <p> <%=booking.details%></p>
   </div>
   <div class="col-xs-1">

     <p class="<%=booking.status%>" id="status-booking<%=booking.id%>">
      <span class="<%=booking.status%>" id="status-value<%=booking.id%>"><%=booking.status.capitalize%>
      </span> </p>

   </div>
    <div class="col-xs-1 text-center">
     <p> <%= link_to "Edit", dashboard_path %> </p>
   </div>
   <div class="col-xs-1 text-center">
     <p><%= link_to "Cancel", booking_path(booking, :status => "cancelled"), method: :patch,  remote: true%> </p>
   </div>
 </div>
 <%end%>
 <%end%>

 <hr>
</br>
<h2> My Dogs' Bookings </h2>
<% if @user.dogs.first.nil?%>
<div class="row ">
 <div class="col-xs-12 text-center">
  <h3> You Currently Have No Dogs</h3>
  <h3> <%=link_to "+ Add a Dog", new_dog_path %> </h3>
</div>
</div>
<div class="row"></div>
<% else %>
<div class="row heading">
 <div class="col-xs-1">
   <h3> Dog </h3>
 </div>
 <div class="col-xs-1">
   <h3>Client</h3>
 </div>
 <div class="col-xs-2">
   <h3> Start Time </h3>
 </div>
 <div class="col-xs-2">
   <h3> End Time</h3>
 </div>
 <div class="col-xs-1">
   <h3> Price</h3>
 </div>
 <div class="col-xs-2">
       <h3> Message</h3>
     </div>
 <div class="col-xs-1">
   <h3> Status</h3>
 </div>
 <div class="col-xs-2 text-center">
   <h3> Action</h3>
 </div>

</div>
<% @user.dogs.each do |dog| %>
<div class="row dog-booking">
 <div class="col-xs-2">
  <%=link_to dog do%>
  <p> <strong><%=dog.name.capitalize%> </strong></p>
  <%end%>
</div>
</div>
<% if dog.bookings.first.nil?%>
<div class="row ">
 <div class="col-xs-4">
  <p><%= dog.name %> currently has no bookings</p>

</div>
</div>
<div class="row"></div>
<% else %>
<% dog.bookings.each do |booking| %>
<div class="row">
 <div class="col-xs-1">
 </div>
 <div class="col-xs-1">
  <p> <%=booking.user.first_name.capitalize%> </p>
</div>
<div class="col-xs-2">
 <p> <%=booking.start_time.strftime("%e %b %Y %H:%M%p") %></p>
</div>
<div class="col-xs-2">
 <p> <%=booking.end_time.strftime("%e %b %Y %H:%M%p")%></p>
</div>
<div class="col-xs-1">
 <p> £<%=booking.price%></p>
</div>
<div class="col-xs-2">
     <p> <%=booking.details%></p>
   </div>
<div class="col-xs-1">
     <p id="status-booking<%=booking.id%>"> <span class="<%=booking.status%>" id="status-value<%=booking.id%>"> <%=booking.status.capitalize%> </span> </p>
   </div>
<div class="col-xs-1 text-center">
  <p><%= link_to "Accept", booking_path(booking, :status => "confirmed"), method: :patch, remote: true %>

</div>
<div class="col-xs-1 text-center">
  <p><%= link_to "Cancel", booking_path(booking, :status => "cancelled"), method: :patch,  remote: true%>

</div>
</div>
<%end%>
<br>
<%end%>
<%end%>
<%end%>
<hr>
</div>
</div>
</div>







</div>
</div>
</div>
