<!-- Below is the home banner -->
<div class="home-banner" style="background-image :linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "banner.jpg" %>);">
  <div>
    <h1 class="banner-h1">
      Le Woof
    </h1>
    <p class="banner-text"><span id = "banner-typed-text"></span></p>
    <a href="#more" class="button">
      Learn More
    </a>
  </div>
</div>
<!-- Above is the home banner -->

<!-- Below is the dogs cards container -->

<!-- <div class="your-class"> -->
  <!-- <div>your content</div> -->
  <!-- <div>your content</div> -->
  <!-- <div>your content</div> -->
<!-- </div> -->
<a name="dogs"></a>
<div class= "container">
<div class="cards-slick">

    <% @dogs.first(6).each do |dog| %>
    <div class="card">
      <%= link_to dog_path(dog), class: "card-link" do %>
        <% if dog.photo %>
          <% photo_url = cl_image_path dog.photo %>
        <% else %>
          <% photo_url = "url('https://goo.gl/images/GPguPA')" %>
        <% end %>
        <div class="card-photo" style="background-image: url('<%= photo_url %>');">

        </div>
        <div class="card-name">
          <div class='dog-name'><%= dog.name.capitalize %></div>
          <div class='dog-price' style="font-size: 13px; color:#827c7c; margin-top: 5px";>
            Price p/h: $<%= dog.price %>
          </div>
        </div>
        <div class="card-info">
          <p><%=h truncate(dog.description, length: 200) %></p>
        </div>
        <div class="card-date">
          <p>Added on: <%= Date.today %></p>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
</div>
<div class="text-center">
<a href="/dogs" class="button">
      Show me more dogz
    </a></div>

<div id="bookingStart"></div>
<div id="bookingEnd"></div>

<div class="container">
  <a name="more"></a>
    <h1 class="text-center hiw-title">How it Works</h1>
    <hr style="width:250px; margin-bottom:90px; ">
  <div class="row">
    <div class="col-xs-12 col-sm-3 text-center">
      <%= image_tag "one.png", class: "hiw-image" %>
      <p class="hiw-card-top"><strong>Create a</strong> <em>free</em> <strong>profile</strong></p>
      <p class="hiw-card-description">Start searching for friendly local dogs or borrowers.</p>
    </div>
    <div class="col-xs-12 col-sm-3 text-center">
      <%= image_tag "two.png", class: "hiw-image" %>
      <p class="hiw-card-top"><strong>Make connections</strong></p>
      <p class="hiw-card-description">All Premium members are extensively vetted (pun intended).</p>
    </div>
    <div class="col-xs-12 col-sm-3 text-center">
      <%= image_tag "three.png", class: "hiw-image" %>
      <p class="hiw-card-top"><strong>Time to Meet</strong></p>
      <p class="hiw-card-description">Get to know other users and dogs face to face and build trust.</p>
    </div>
    <div class="col-xs-12 col-sm-3 text-center">
      <%= image_tag "four.png", class: "hiw-image" %>
      <p class="hiw-card-top"><strong>Share your love of dogs</strong></p>
      <p class="hiw-card-description">Have fun making new friends. Benefits for you and your dog.</p>
    </div>
  </div>

</div>



